name: Generate and Upload configure.sh

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0,12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: configure

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          bash install-dependencies.sh

      - name: Generate script
        env:
          ARIN_API_KEY: ${{ secrets.ARIN_API_KEY }}
        run: mkdir outputs && python generate.py | tee outputs/generate.log

      - name: Update nightly release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "nightly"
          prerelease: true
          title: "nightly vyos configuration"
          files: |
            configure/outputs/generate.log
            configure/outputs/*.sh
            configure/outputs/*.py
